@model IEnumerable<lab4.Models.Book>
@{
    ViewData["Title"] = "Books";
}
<div class="d-flex justify-content-between align-items-center pb-2">
    <h1 class="float-lef">Books</h1>
    <a asp-controller="Book" asp-action="Create" class="btn btn-success float-right">Add book</a>
</div>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
       @foreach(var book in Model)
        {
            <tr>
                <th scope="row">
                    @book.Name
                </th>
                <td>
                    @book.Author
                </td>
                <td>
                    @book.Price
                </td>
                <td>
                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-secondary">Edit book</a>
                </td>
                <td>
                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Delete book</a>
                </td>
            </tr>
        }
  </tbody>
</table>